<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Prototyping - NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>Prototyping</h1>

      <figure class="nhsuk-image">
        <img class="nhsuk-image__img" src="/images/placeholder-pizza-16-9.jpg" alt="A 16:9 pizza placeholder">
        <figcaption class="nhsuk-image__caption">
          🍕 Vegan pizza &mdash; not a cat 😾
        </figcaption>
      </figure>

      <ul>
        <li>
          <a href="better-branching-and-routing">better branching and routing</a>
        </li>
        <li>
          <a href="organise-your-sprints">organise your sprints</a>
        </li>
        <li>
          use message files
        </li>
        <li>
          <a href="wrangle-user-data">wrangle user data</a>
        </li>
      </ul>

    </div>

  </div>
{% endblock %}
