<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ messages__common__demo__heading }}
  -
  {{ messages__common__app__heading }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ messages__common__demo__heading }}</h1>

      <figure class="nhsuk-image">
        <img class="nhsuk-image__img" src="/images/placeholder-cat-16-9.jpg" alt="A 16:9 cat placeholder">
        <figcaption class="nhsuk-image__caption">
          😸 Cat example &mdash; not a pizza 🍕
        </figcaption>
      </figure>

      <ul>
        <li>
          <a href="better-branching-and-routing">{{ messages__section_one__heading_one | lower }}</a>
        </li>
        <li>
          <a href="organise-your-sprints">{{ messages__section_two__heading_one | lower }}</a>
        </li>
        <li>
          <a href="use-message-files">{{ messages__section_three__heading_one | lower }}</a>
        </li>
        <li>
          <a href="wrangle-user-data">{{ messages__section_four__heading_one | lower }}</a>
        </li>
      </ul>

    </div>

  </div>
{% endblock %}
